<div id="explore-top" class="row">
    <div id="searchBar" class="col-7">
        <form id="search-form" action="/ricos-menu" method="GET">
            <div class="row">
                <div class="col-8">
                    <input id="search-input" class="form-control" type="text" name="search" placeholder="eggs"
                        {{#if searchTerm}}
                            value="{{searchTerm}}"
                        {{/if}}
                        aria-label="default input example">
                </div>
                <div class="col-4">  
                    {{!-- <button type="submit" class="btn btn-primary" onclick="addInput()">Add</button> --}}
                    <button id="search" type="submit" class="btn btn-primary"><h4>Search</h4></button>
                </div>
            </div>
        </form>
    </div>
    <div id="to-lab" class="col-sm-12 col-lg-5 row">
        <a speech-bubble pright acenter id="speech-bubble-explore" class="col-2" href="/ricos-lab" role="button" class="btn btn-primary"><h4>Go to Rico's Lab</h4></a>      
        <div id="rico-explore" class="col-1"><a href="/"><img src="/img/rico.png" width="260px" height="260px" alt="the mascot Rico"></a></div>
    </div>
</div>   

<hr class="solid">

<div id="menu-items" class="row">
    {{#each recipes }}
    <div id="item" class="col-3 card" style="width: 18rem;">
        <div>
            <img src="/img/plate.png" class="card-img-top" alt="plate">
            <form id="like-form" method="POST">
                {{!-- <input type="hidden" name="post_id" value="{{post.id}}" /> --}}
                <input type="hidden" id="like-item" name="likeItem" value="{{this.name}}" />
                <button id="like-button" type="submit" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                    <span id="num-likes">{{this.likes}}</span>
                </button>
            </form>
        </div>
        <div class="card-body">
            <h5 id="recipe-name" class="card-title">{{this.name}}</h5>
            <a id="getRecipe" href="/ricos-menu/recipe/{{this.id}}/{{this.slug}}" class="btn btn-primary">Learn More</a>
        </div>
    </div>
    {{/each}}
</div>